<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../img/icon.png" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap-tagsinput.css">

    <title>Joana Audoux // Ilustrações</title>
</head>
<header>
    <nav class="nav">
        <div class="nav-left" id="logo">
            <a href="/"><img src="../img/logo.jpg" style="height: 50px; width: auto;"></a>
        </div>
        <div class="nav-right nav-menu ">
            <a class="nav-item" id="portfolio " href="/">Portfolio</a>
            <a class="nav-item" id="blog " href="/blog">Blog</a>
            <a class="nav-item" id="contato " href="/contato ">Contato</a>
            <a class="nav-item" id="sobre " href="/sobremim">Sobre mim</a>
            <% if(user ) { %>
                <a class="nav-item" id="admin " href="/admin"><i class="fa fa-tachometer"></i></a>
                <a class="nav-item" id="logout " href="/admin/logout"><i class="fa fa-sign-out"></i></a>
            <% } %>
        </div>
    </nav>
</header>

 <body>
    <div id="wrapper">
    <div id="content">
        <%- body %>
    </div>
        <script src="/scripts/jquery-3.1.1.min.js"></script> 
        <script src="/scripts/jquery.nicescroll.js"></script>  
        <script src="/scripts/pace.min.js"></script>
        <script src="/scripts/modernizr.js"></script>   
        <script src="/scripts/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/scripts/plugin/tinymce/tinymce.min.js"></script>
        <script src="/scripts/plugin/tinymce/init-tinymce.js"></script>
        <script src="/scripts/bootstrap.min.js"></script>
        <script src="/scripts/bootstrap-tagsinput.min.js"></script>
        <script src="/scripts/script.js"></script>
    </div>  
    <div class="footer">
    </div>
 </body>
</html>
