        html, body {
            font-family: 'Open Sans', sans-serif;
            background-color: #FFF;
            height: 100%;
        }

        a:hover {
            text-decoration: none;
        }

        .container-home {
            height: 100%;
            width: 1105px;
            margin: 0 auto;
            margin-top: 100px;
        }

        .container-home #bio {
            height: 100%;
            width: 100%;
        }

        .container-home #bio #bio_text {
            margin-top: 10px;
            text-align: center;
            color: black;
        }

        .container-home #bio #contato {
            font-family: 'Rubik', sans-serif;
            text-align: center;
            margin-top: 10px;
        }

        .container-home #bio #contato a {
            margin-right: 7px;
        }

        .container-home #bio #contato a:hover {
            color: #ff7373;
        }

        .container-home .box {
            height: 1105px;
            width: 1105px;
            margin: 0 auto;
           -webkit-box-shadow: 1px 10px 35px -5px rgba(0,0,0,0.30);
           -moz-box-shadow: 1px 10px 35px -5px rgba(0,0,0,0.30);
            box-shadow: 1px 10px 35px -5px rgba(0,0,0,0.30);
        }

        .pagination {
            margin-top: 25px;
        }

        .container-home .box li #boxes {
            width: 350px;
            height: 350px;
            background-repeat: no-repeat;
            background-position: center; 
            background-size: cover;
            width: 350px;
            height: 350px;
        }

        .container-home .box li #boxes a:hover{
            text-decoration: none;
        }

        .container-home .box li {
            text-decoration: none;
            display: inline;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
        }

        .container-home .box li #titulo {
            visibility: hidden;
        }

        .container-home .box li:hover #titulo {
            visibility: visible;
        }

        .container-home .box li:hover #text-filter {
            width: 100%;
            height: 100%;
            zoom: 1.2;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.9);
            color: white;
            opacity: 0;
            cursor: pointer;
            transition: all 0.18s ease-in-out;
        }

        .container-home .box li:hover #text-filter {
            opacity: 1;
        }

        .container-home .columns #fisico #background-image {
            background-image: url("../img/tga.jpg");
            background-repeat: no-repeat;
            background-size: 380px;
            height: 100%;
            width: 100%;
            background-color: pink;
        }

        .nav {
            background-color: #FFF;
            width: 1070px;
            min-width: 600px;
            margin: 0 auto;
            margin-top: 30px;
            padding-top: 15px;
            
        }

        .nav .nav-right a {
            text-decoration: none;
            font-size: 15px;
            font-weight: 600;
        }

        .nav .nav-left a {
            text-decoration: none;
        }

        .nav .nav-right #blog {
            margin-right: 15px;
        }

        .nav .nav-right #portfolio {
            margin-right: 15px;
        }

        .nav .nav-right #contato {
            margin-right: 15px;
        }

        .nav .nav-right #sobre {
            margin-right: 15px;
        }

        .content {
            margin: 0 auto;
            margin-top: 50px;
            height: 700px;
            width: 700px;
        }

        .content h1 {
            font-size: 35px;
        }

        .content p {
            font-size: 17px;
        }

        .hvr-grow {
            display: inline-block;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
            -webkit-transition-property: transform;
            transition-property: transform;
        }

        .hvr-grow:hov.er, .hvr-grow:focus, .hvr-grow:active {
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
        }

        .nav a:hover {
            color: #ff7373;
        }

        #wrapper {
            position: relative;
            min-height: 100vh;
            flex-direction: column;
            display: flex;
        }

        #content {
            padding-bottom: 10px;
            flex: 1;
        }

        .footer {
            position: absolute;
            background: #444444;
            max-height: 10px;
            border-top: 2px solid #ccc;
            width: 100%;
            font-family: 'Open Sans', sans-serif;
            color: #FFFFFF;
            clear: both;
        }

        .container-blog {
            margin: 0 auto;
            margin-top: 50px;
            height: 100%;
            width: 50%;
            max-width: 700px;
            min-width: 350px;
        }

        .box #portfolioCreate {
            height: 100%;
            width: 700px;
        }

        .container-blog .columns #posts .box {
            border-radius: 2px;
            border: 1px #000000;
            -webkit-box-shadow: none !important;
            -moz-box-shadow: none !important;
            box-shadow: none !important;
        }

        .container-blog .columns #posts #post-each {
            margin-bottom: 100px;
        }

        .container-blog .columns #posts #post-each #comments {
            width: 90px;
            margin-top: 20px;
            float: right;
        }

        /* Buzz Out */
    @-webkit-keyframes hvr-buzz-out {
      10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
      }
      20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
      }
      30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
      }
      40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
      }
      50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
      }
      60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
      }
      70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
      }
      80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
      }
      90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
      }
      100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
      }
    }
    @keyframes hvr-buzz-out {
      10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
      }
      20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
      }
      30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
      }
      40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
      }
      50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
      }
      60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
      }
      70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
      }
      80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
      }
      90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
      }
      100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
      }
    }
    .hvr-buzz-out {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
    }
    .hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
      -webkit-animation-name: hvr-buzz-out;
      animation-name: hvr-buzz-out;
      -webkit-animation-duration: 0.75s;
      animation-duration: 0.75s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
    }

        .container-blog .columns #posts #post-each #comments span {
           background-color: #E5E8E8;
           float: right;
        }

        .container-blog .columns #posts #post-each #comments a {
           color: black;
        }

        .container-blog .columns #posts #post-each #tags{
            margin-top: 20px;
        }

        .container-blog .columns #posts #post-each #tags a {
            color: #FFF;
        }

        .container-blog .columns #posts #post-each #tags span {
            padding: 8px;
            background-color: #EAFD89;
        }

        .container-blog .columns #posts h1 {
            font-size: 30px;
            font-weight: 600;
        }

        .container-blog .columns #posts h1 a {
            color: #333333;
        }
        
        .container-blog .columns #posts h1 a:hover {
            color: #494949;
        }

        .container-blog .columns #posts p {
            font-family: 'Open Sans', sans-serif;
            margin-top: 10px;
            font-size: 15px;
        }

        .container-blog .columns #posts a:hover {
          text-decoration: none;
        }

        .container-blog .columns #posts #created_person {
            height: 50px;
            width: 280px;
        }

        .container-blog .columns #posts #created_person img {
            border-radius: 50%;
            width: 40px;
            float: left;
        }

        .container-blog .columns #posts #created_person #about {
            margin-left: 50px;
        }

        .container-blog .columns #posts #created_person #about a {
            font-size: 15px;
            color: #75C1A0;
        }

        .container-blog .columns #posts #created_person p {
            margin-top: 0px;
            font-size: 11px;
        }

        .contentSingle {
            margin: 0 auto;
            margin-top: 100px;
            height: 100%;
            width: 700px;
        }

        .contentSingle #postSingle {
            margin-top: 40px;
        }

        .contentSingle #header {
            margin: 0 auto;
            text-align: center;
        }

        .contentSingle #header p {
            font-size: 15px;
            color: #ccc;
        }

        .contentSingle h1 {
            margin-top: 20px;
            font-size: 30px;
            font-size: 2.5em;
            font-weight: 600;
        }

        .contentSingle p {
            margin-top: 20px;
            font-size: 17px;
        }

        .contentSingle .social {
            height: 200px;
            width: 300px;
            margin: 0 auto;

        }

        .contentSingle blockquote {
            background-color: #ff7373;
            margin: 0 auto;
            width: 10%;
            height: 1px;
            margin-top: 50px;
        }

        .contentSingle .social blockquote {
            background-color: #ff7373;
            margin: 0 auto;
            left: 50%;
            width: 20%;
            height:1px;
            margin-top: 70px;
        }


        .contentSingle .social #compartilhe {
            text-align: center;
            padding-top: 30px;
            height: 100px;
            margin: 0 auto;
        }

        .contentSingle .social #icons {
            padding-top: 30px;
            margin: 0 auto;
            margin-left: 75px;

        }

        .contentSingle .social #icons #twitter {
           padding-left: 50px;
           font-size: 1.32em;

        }

        .contentSingle .imagePost {
            margin-top: 30px;

        }

        .contentSingle #portfolioSingle {
            text-align: center;
        }

        .contentSingle .imagePost .img img {
            margin: 0 auto;

        }

        .contentSingle #disqus_thread {
            margin-top: 80px;
        }
        

        .contentSingle .social #icons #tumblr {
           padding-left: 50px;
           font-size: 1.32em;
     

        }

        .contentSingle .social #icons #tumblr:hover {
            transform: rotateX(360deg);
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
        }

        .contentSingle .social #icons #twitter:hover {
            transform: rotateX(360deg);
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
        }

        .contentSingle .social #icons #facebook:hover {
            transform: rotateX(360deg);
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
            transition: 1s;
        }

        .contentSingle .social #icons #facebook {
           font-size: 1.32em;
        }

        .contentSingle .social #icons a:hover {
            color: #ff7373;
        }

        .contato {
            height: 500px;
            width: 500px;
            margin: 0 auto;
            float: left;
            margin-top: 40px;
        }

        .contato .box {
            height: 300px;
        }

        .contato #header-contato h1{
            font-size: 40px;
            display: inline-block;
        }

        .contato #header-contato img {
            height: 100px;
        }

        .criarPost {
          height: 800px;
          width: 800px;
          margin: 0 auto;
        }
        .criarPost textarea {
          height: 100%;
        }

        .criarPost #tags {
            backgourng-color: black;
        }

        .contato #circulo_contato {
            width: 100px;
            height: 100px;
            background-color: #ff7373;
            border-radius: 50%;
            margin: 0 auto;
        }

        .contato_info {
            height: 800px;
            display: flex;
            width: 1000px;
            margin: 0 auto;
            clear: both;
        }

        .contato_info #flash {
            clear: both;
        }

        .contato #envelope {
            margin-top: 21%;
            margin-left: 21%;
            font-size: 4em; 
            color: #FFF;
        }

        .contato #btn_contato {
            float: right;
            width: 100%;
            background-color: #ff7373;
        }

        .contato #btn_contato:hover{
            background-color: #ff7065;
        }

        .bootstrap-tagsinput input .tagsinput {
            color: black;
        }

         .container-blog .columns #posts blockquote {
            background-color: #ccc;
            margin: 0 auto;
            width: 10%;
            height: 1px;
            margin-bottom: 50px;
        }

        .container-blog .columns #posts .rotate {
            float: right;
            margin-top: -40px;
        }

        .container-blog .columns #posts .rotate #share {
            transition: all .6s ease-in-out;
            cursor: pointer;
        }

        .container-blog .columns #posts .rotate #share:hover {
            opacity: .4;
        }

        .container-blog .columns #posts .rotate .link {
            position: absolute;
            width: 5px;
            height: 5px;
            margin: -22px -4px;
            transition: all .5s ease-out;
            visibility: hidden;
        }

        .container-blog .columns #posts .rotate.active #share {
            transform: rotate(360deg);
            transition: .6s;
        }

        .container-blog .columns #posts .rotate.inactive #share {
            transform: rotate(360deg);
            transition: .6s;
        }

        .container-blog .columns #posts .rotate.active a #twitter{
            visibility: visible;
            color: #1DA1F2;
            transform: translateX(-190px);
            transition-delay: .1s;
        }

        .container-blog .columns #posts .rotate.active a #facebook{
            visibility: visible;
            color: #295396;
            transform: translateX(-140px);
            transition-delay: .15s;
        }

        .container-blog .columns #posts .rotate.active a #tumblr{
            visibility: visible;
            color: #314358;
            transform: translateX(-90px);
            transition-delay: .2s;
        }

        .container-blog .columns #posts .rotate.active a #link{
            visibility: visible;
            
            transform: translateX(-40px);
            transition-delay: .25s;
        }

        .container-blog .columns #posts .rotate.active a #twitter:hover{
            opacity: .4;
        }

        .container-blog .columns #posts .rotate.active a #facebook:hover{
            opacity: .4;
        }

        .container-blog .columns #posts .rotate.active a #tumblr:hover{
            opacity: .4;
        }

        .container-blog .columns #posts .rotate.active a #link:hover{
            opacity: .4;
        }

        .portfolioPage {
            height: auto;
            width: 1000px;
            margin:0 auto;
            margin-top: 100px;
            margin-bottom: 50px;
        }

        .portfolioPage #imagePost {
            float: left;
            height: 600px;
            margin-top: 35px;
            margin-left: 20px;
        }

        .portfolioPage #imagePost img{
            height: auto;
            width: 600px;
        }

        .portfolioPage #textPost {
            height: 600px;
            float: left;
            margin: 0 auto;
        }

        .portfolioPage #textPost h1 {
            font-size: 2.2em;
            font-weight: 600;
            margin-top: 10px;
            text-align: center;
        }

        .portfolioPage #textPost p {
            font-size: 15px;
            text-align: center;
            color: #ccc;
        }

        .portfolioPage #textPost #portfolioText {
            margin-top: 30px;
        }

        .portfolioPage #textPost #portfolioText p {
            font-size: 15px;
            color: #4A4A4A;
            text-indent: 30px;
            text-align: justify;
            padding: 0;
        }

        .portfolioPage #social {
            max-width: 150px;
            min-width: 145px;
            margin-left: 20px;
            padding: 5px 5px;
            margin-top: 50px;
            float: right;
        }

        .portfolioPage #social #icons {
            text-align: left;
        }

        .portfolioPage #social a {
            color: #ccc;
        }

        .portfolioPage #social a:hover {
            color: #505051;
        }

        .portfolioPage #social span + span {
            margin-left: 20px;
        }

        #zoom .overlay {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
        }

        #zoom .overlay a:hover {
            color: #7F7F7F;
        }

        #zoom .overlay a.expand {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 100%;
          height: 100%;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          -ms-border-radius: 0;
          -o-border-radius: 0;
          border-radius: 0;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
        }
        #zoom .img.hover .overlay {
          opacity: 1;
        }

        #zoom .img img {
            height: auto;
            max-height: 600px;
            width: auto;
        }

        #zoom .img.hover .overlay a.expand {
          width: 60px;
          height: 60px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
          border-radius: 30px;
        }

    .effects {
      padding-left: 15px;
    }
    .effects .img {
      position: relative;
      float: left;
      margin-bottom: 5px;
      width: auto;
      overflow: hidden;
    }
    .effects .img:nth-child(n) {
      margin-right: 5px;
    }
    .effects .img:first-child {
      margin-left: -15px;
    }
    .effects .img:last-child {
      margin-right: 0;
    }
    .effects .img img {
      display: block;
      margin: 0;
      padding: 0;
      max-width: 100%;
      height: auto;
    }

    .overlay {
      display: block;
      position: absolute;
      z-index: 20;
      background: rgba(0, 0, 0, 0.8);
      overflow: hidden;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    a.close-overlay {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 100;
      width: 45px;
      height: 45px;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      line-height: 45px;
      text-align: center;
      background-color: #000;
      cursor: pointer;
    }
    a.close-overlay.hidden {
      display: none;
    }

    a.expand {
      display: block;
      position: absolute;
      z-index: 100;
      width: 60px;
      height: 60px;
      border: solid 5px #fff;
      text-align: center;
      color: #fff;
      line-height: 50px;
      font-weight: 700;
      font-size: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      border-radius: 30px;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
     
    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(127, 127, 127, 1); 
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(127, 127, 127, 1); 
    }

    .sobreMim {
        height: 550px;
        width: 700px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .sobreMim #imgSobreMim {
        height: 300px;
        width: 300px;
        margin: 0 auto;
    }

    .sobreMim .box {
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

    .sobreMim .box #textSobreMim {
        height: auto;
        width: 500px;
        text-align: justify;
        max-width: 500px;
        min-width: 300px;
        margin: 0 auto;
        font-size: 1.05em;
        margin-top: 40px;
        text-indent: 50px;
    }

    .sobreMim blockquote {
        background-color: #ff7373;
        margin: 0 auto;
        width: 7%;
        margin-top: 30px;
        height: 1px;
    }

    .sobreMim #social {
        max-width: 800px;
        min-width: 350px;
        margin: 0 auto;
        font-size: 1.5em;
    }

    .sobreMim #social #icons {
        text-align: center;
    }

    .sobreMim #social a {
        color: #505051;
        margin-top: 5px;
    }

    .sobreMim #social a:hover {
        color: #ccc;
    }

    .sobreMim #social span + span {
        margin-left: 35px;
    }

    .sobreMim #imgSobreMim {
        margin-top: 50px;
        background-image: url("../img/home_jo.jpg");
        background-size: 200px;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }

    .pace {
      -webkit-pointer-events: none;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .pace-inactive {
      display: none;
    }

    .pace .pace-progress {
      background: #75c1a0;
      position: fixed;
      z-index: 2000;
      top: 0;
      right: 100%;
      width: 100%;
      height: 2px;
    }

    .registerUser {
        width: 300px;
        height: auto;
        max-height: 600px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .userLogin {
        width: 300px;
        height: auto;
        margin: 0 auto;
        margin-top: 100px;
    }

    #errorsRegister {
        width: 300px;
        height: 100px;
        max-height: 200px;
        margin: 0 auto;
    }

    .menu {
        width: 300px;
        margin-left: 10px;
        margin-top: 50px;
    }

    .adminBlog {
        width: 800px;
        min-width: 400px;
        margi-top: 30px;
        margin: 0 auto;
    }

    .adminPortfolio {
        width: 800px;
        min-width: 400px;
        margi-top: 30px;
        margin: 0 auto;
    }