<%- contentFor('body') %>
    <div class="container-blog">
        <!--<a class="button" href="/blog/create"><i class="fa fa-pencil-square-o"> Novo Post</i></a></br>-->
        <div class="columns">
            <div class="column full" id="posts">
                <% if (success.length > 0) { %>
                    <div class="notification is-success">
                        <button class="delete"></button>
                        <%= success %>
                    </div>
                  <% } %>
                      <% for (var post of posts) { %>

                          <div class="box" id="post-each">

                              <div id="created_person">
                                  <img src="../img/home_jo.jpg">
                                  <div id="about">
                                      <a href="http://twitter.com/audouxie">Joana Audoux</a>
                                      <p><%= post.createdAt %></p>
                                  </div>
                              </div>
                              <span class="rotate">
                                <span id="share" title="Compartilhar" class="fa fa-share-square-o"></span>
                                <a class="twitterShare" href="http://twitter.com/share?text=<%= post.title %>&&url=http://audouxie.com/blog/<%= post.slug %>&&hashtags=<%= post.tags%>&&via=audouxie&&"><span id="twitter" title="Compartilhar no Twitter" class="link"><i  class="fa fa-twitter"></i></span></a>
                                <a href="#" ><span id="facebook" title="Compartilhar no Facebook" class="link"><i  class="fa fa-facebook"></i></span></a>
                                <a href="#" ><span id="tumblr" title="Compartilhar no Tumblr" class="link"><i  class="fa fa-tumblr"></i></span></a>
                                <a href="#" ><span id="link" title="Copiar link" class="link"><i  class="fa fa-link"></i></span></a>
                              </span>
                              <div>
                              <h1><a href="/blog/<%= post.slug %>"><%= post.title %></a></h1>
                              <h2></h2>
                              <div class="posts-html">
                              <p>
                                  <% if(post.text.length > 600) { %>
                                      <%= post.text.substring(0, 600)%>..
                                  <% } else { %>
                                        <%= post.text %>
                                  <% } %>
                              </p>
                            </div>
                            <div style="text-align: center; margin-top: 20px;">
                            <a style="padding-top: 5px;" class="button is-small is-primary is-outlined hvr-grow" href="/blog/<%= post.slug %>">leia mais</a>
                            </div>
                            </div>
                             <div id="comments">
                             <span class="tag is-danger"><a href="/blog/<%= post.slug %>#disqus_thread" class="hvr-buzz-out">0 Comentários</a></span>
                            </div>
                            <div id="tags">
                            <% 
                              var a = post.tags.toString();
                              var b = a.replace(",", " ");
                            %>
                            <% for (var i = 0; i <= post.tags.length - 1; i++){ %>
                             <a class="hvr hvr-grow">
                                <span class="tag">
                                  <b>
                                    <%= post.tags[i] %>
                                  </b>
                                </span>
                              </a>
                              <% } %>
                            </div>
                          </div>
                          <blockquote>
                          </blockquote>
                          <% } %>
                          
                          <div>
                            <nav class="pagination">
                                <ul id="paginaAtual">
                                  <% for (var i = 1; i <= totalPaginas; i++) { %>
                                    <% if ( paginaAtual == i) { %>
                                        <% if (totalPaginas != 1) { %>
                                      <li><a id="page" class="button is-disabled" href="/blog?page=<%= i %>"><%= i %></a></li>
                                      <% } %>
                                    <% } else { %>
                                      <li><a id="page" href="/blog?page=<%= i %>"><%= i %></a></li>
                                    <% } %>
                                  <% } %>
                                </ul>
                              </nav>
                          </div>
            </div>
        </div>
    </div>

  </div>
    <script id="dsq-count-scr" src="//audoux-me.disqus.com/count.js" async></script>
