<% if (errors.length > 0) { %>
        <div class="notification is-danger">
            <button class="delete"></button>
            <h1>Oops! Parece que há algo de errado:</h1><br>
            <% for (error of errors) { %>
                <%= error %><br>
                    <% } %>
        </div>

        <% } %>

<% if (success > 0) { %>
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" style="text-align: center;">
        <i class="fa fa-check-circle" style="font-size: 8em; color: #66B946;"></i>
          <p>Seu contato foi enviado com sucesso! Assim que possível irei responder. Obrigada <3</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
      
    </div>
  </div>
<% } %>

<form action="/contato" method="POST">
<div class="contato_info">
<div class="contato">
    <div id="circulo_contato">
        <div >
            <i class="fa fa-envelope-o" id="envelope" aria-hidden="true"></i>    
        </div>
    </div>
    <div id="header-contato"><h1></h1>
    </div>
    <div class="teste">
        <div class="control">
            <div class="control-label">
            </div>
            <div class="control is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" name="name" placeholder="Nome*">
                </p>
                <p class="control is-expanded">
                    <input class="input" type="email" name="email" placeholder="Email*">
                </p>
            </div>
        </div>
        <div class="control">
            <div class="control-label">
            </div>
            <div class="control">
                <div class="select is-fullwidth">
                    <select name="subject">
                      <option>Orçamento</option>
                      <option>Dúvidas</option>
                      <option>Colaboração</option>
                      <option>Outros</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="control">
            <div class="control-label">
            </div>
            <div class="control">
                <textarea class="textarea" name="message" placeholder="Digite aqui sua mensagem*"></textarea>
            </div>
        </div>
        <p>* Campos Obrigatórios</p>
        <div class="send">
          <button id="btn_contato" type="submit" class="button is-success" data-toggle="modal" data-target="#myModal">Enviar</button>
        </div>
    </div>
    </div>
    <!--
    <div class="pic_me">
        
    </div>-->
</div>
</form>
