

<div class="criarPost">
<form action="/blog/create" method="POST">
    <% if (errors.length > 0) { %>
        <div class="notification is-danger">
            <button class="delete"></button>
            <% for (error of errors) { %>
                <%= error %><br>
                    <% } %>
        </div>

        <% } %>
            <h1>Criar um novo Blog Post</h1><br>
            <p class="control">
                <input class="input" name="title" type="text" placeholder="Titulo">
            </p>
            <p class="control" id="conteudo">
                <textarea name="text" class="tinymce"></textarea>
            </p>
            <div id="tags">
              <input type="text" name="tags" data-role="tagsinput" />
            </div>
              <button type="submit" class="button">Criar Post</button>
              <a href="/blog">Voltar para o blog</a>
</form>
</div>
