<h1>Editando o Post <%= post.title %></h1>
<a href="/blog">Voltar para o blog</a>
<form action="/blog/<%= post.slug %>" method="POST">
    <% if (errors.length > 0) { %>
        <div class="notification is-danger">
            <button class="delete"></button>
            <% for (error of errors) { %>
                <%= error %><br>
                    <% } %>
        </div>

        <% } %>
            <label class="label">Titulo</label>
            <p class="control">
                <input class="input" name="title" type="text" value="<%= post.title %>">
            </p>
            <label class="label">Tags</label>
            <p class="control">
                <input type="checkbox" name="tags" value="Ilustração"> Ilustração
                <input type="checkbox" name="tags" value="Digital"> Digital
            </p>
            <label class="label">Conteudo</label>
            <p class="control">
                <textarea name="text" class="tinymce"><%= post.text %></textarea>
            </p>
            <button type="submit" class="button">Atualizar Post</button>
</form>
</button>
</form>
