<%- contentFor('body') %>
    <div class="container-home">
        <!--<a class="button" href="/portfolio/create"><i class="fa fa-pencil-square-o"> Novo Post</i></a></br>-->
          <% if (success.length > 0) { %>
              <div class="notification is-success">
                  <button class="delete"></button>
                  <%= success %>
              </div>
            <% } %>
        <div class="box">
            <% for (var post of posts) { %>
                <li>
                    <div id="boxes" style="background-image: url(<%= post.img %>) ">
                        <a href="/portfolio/<%= post.slug %>">
                            <div id="text-filter">
                                <p id="titulo">
                                    <%= post.title %>
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
                <% } %>
        </div>
        <div>
          <nav class="pagination">
              <ul id="paginaAtualHome">
                <% for (var i = 1; i <= totalPaginas; i++) { %>
                  <% if ( paginaAtual == i) { %>
                      <% if (totalPaginas != 1) { %>
                    <li><a id="page" class="button is-disabled" href="/?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                  <% } else { %>
                    <li><a id="page" href="/?page=<%= i %>"><%= i %></a></li>
                  <% } %>
                <% } %>
              </ul>
            </nav>
        </div>
    </div>

    
