<form action="/admin/login" method="POST">
  <div class="userLogin">
   <% if (error.length > 0) { %>
        <div class="notification is-danger">
            <button class="delete"></button>
            <%= error %>
        </div>
       <% } %>
  <% if (success.length > 0) { %>
        <div class="notification is-success">
            <button class="delete"></button>
            <%= success %>
        </div>
       <% } %>
      
    <p class="control has-icon">
      <input class="input" name="username" type="text" placeholder="Nome de Usuário">
      <span class="icon is-small">
        <i class="fa fa-email"></i>
      </span>
    </p>
    <p class="control has-icon">
      <input class="input" name="password" type="password" placeholder="Senha">
      <span class="icon is-small">
        <i class="fa fa-lock"></i>
      </span>
    </p>
    <p class="control">
      <button class="button is-success">
        Login
      </button>
    </p>
  </div> 
</form>