<div class="portfolioPage">
    <% if (success.length > 0) { %>
        <div class="notification is-success">
            <button class="delete"></button>
            <%= success %>
        </div>

        <% } %>
    <div class="columns">
        <div class="column is-two-thirds" id="imagePost">
        <div id="zoom" class="effects clearfix">
            <div class="img">
                <img src="<%= post.img %>" alt="<%= post.title %>" >
                 <div class="overlay">
                    <a data-target="#imgPortfolio" data-toggle="modal" data-image="<%= post.img %>" class="expand fa fa-expand"></a>
                    <a class="close-overlay hidden">x</a>
                 </div>
                 
                 <div id="imgPortfolio" class="modal fade" role="dialog" style="margin-top: 25px; margin-left: 20px;">

                        <div class="modal-content" style="height: auto; width: 100%; margin: 0 auto; background-color: transparent; border-width: 0px ;">

                            <div class="modal-body" style="height: auto; width: 100%; margin: 0 auto; ">
                            <a data-dismiss="modal" class="fa fa-close" style="float: right; font-size: 3.5em; margin-top: -20px;"></a>
                                <img class="showimage img-responsive" src="" style="height: 100%; width: auto; margin: 0 auto;"/>
                            </div>
                    </div>
                    </div>
            </div> 
        </div>
        </div>
        <div class="column is-one-thirds" id="textPost">
            <p><%= post.timeDate %></p>
            <h1><%= post.title %></h1>
            <div id="portfolioText">
                <%= post.description %>
            </div>
            <div id="social">
                    <div id="icons">
                        <span><a href="http://twitter.com/audouxie" target="_blank" class="fa fa-twitter" id="twitter"></a></span>
                        <span><a href="https://www.facebook.com/profile.php?id=100010926258782" target="_blank" class="fa fa-facebook" id="facebook"></a></span>
                        <span><a href="#" class="fa fa-tumblr" target="_blank"  id="tumblr"></a></span>
                        <span><a href="http://instagram.com/artaudoux" target="_blank" class="fa fa-instagram" id="instagram"></a></span>
                    </div>
            </div>
    </div>
</div>

</div>
