<div class="criarPost">
<form action="/portfolio/<%= post.slug %>" method="POST" enctype="multipart/form-data">
    <% if (errors.length > 0) { %>
        <div class="notification is-danger">
            <button class="delete"></button>
            <% for (error of errors) { %>
                <%= error %><br>
                    <% } %>
        </div>
        <% } %>
            <label class="label">Titulo</label>
            <p class="control">
                <input class="input" name="title" type="text" value="<%= post.title %>">
            </p>
            <p class="control">
                <input type="file" name="fileImg">
            </p>
            <label class="label">Conteudo</label>
            <p class="control">
                <textarea name="description" class="tinymce"><%= post.description %></textarea>
            </p>
            <button type="submit" class="button">Atualizar Post</button>
</form>
</div>
