<div class="criarPost">
<form action="/portfolio/create" method="POST" enctype="multipart/form-data">
    <% if (errors.length > 0) { %>
        <div class="notification is-danger">
            <button class="delete"></button>
            <% for (error of errors) { %>
                <%= error %><br>
                    <% } %>
        </div>
        <% } %>
            <label class="label">Titulo do desenho:</label>
            <p class="control">
                <input class="input" name="title" type="text">
            </p>

            <p class="control">
                <input type="file" name="fileImg">
            </p>
            <label class="label">Descrição:</label>
            <p class="control">
                <textarea name="description" class="tinymce"></textarea>
            </p>
            <button type="submit" class="button">Criar Post</button>
</form>
</div>
