
		<% if (errors.length > 0) { %>
			<div id="errorsRegister">
			    <div class="notification is-danger">
			        <button class="delete"></button>
			        <% for (error of errors) { %>
			            <%= error %><br>
			                <% } %>
			    </div>
		    </div>
	    <% } %>

<form action="/admin/register" method="POST">	
	<div class="registerUser">
		<p class="control has-icon">
		  <input class="input" name="username" type="text" placeholder="Nome de Usuário">
		  <span class="icon is-small">
		    <i class="fa fa-at"></i>
		  </span>
		</p>
		<p class="control has-icon">
		  <input class="input" name="name" type="text" placeholder="Nome">
		  <span class="icon is-small">
		    <i class="fa fa-user"></i>
		  </span>
		</p>
		<p class="control has-icon">
		  <input class="input" name="email" type="email" placeholder="Email">
		  <span class="icon is-small">
		    <i class="fa fa-envelope"></i>
		  </span>
		</p>
		<p class="control has-icon">
		  <input class="input" name="password" type="password" placeholder="Senha">
		  <span class="icon is-small">
		    <i class="fa fa-lock"></i>
		  </span>
		</p>
		<p class="control has-icon">
		  <input class="input" name="password2" type="password" placeholder="Senha Novamente">
		  <span class="icon is-small">
		    <i class="fa fa-lock"></i>
		  </span>
		</p>
		<p class="control">
		  <button class="button is-success is-small">
		    Criar Usuário
		  </button>
		  <span>ou</span>
		  <a href="#">
		    Faça Login
		  </a>
		</p>
	</div>
</form>