<div class="contentSingle" id="single">
    <% if (success.length > 0) { %>
        <div class="notification is-success">
            <button class="delete"></button>
            <%= success %>
        </div>

        <% } %>
        <div>
            <!--<a href="/blog/<%= post.slug %>/edit">Editar Post</a>
            <a href="/blog/<%= post.slug %>/delete">Deletar Post</a>-->
            <div id="header">
            <p><%= post.timeDate %></p>
            <h1><%= post.title %></h1>
            </div>
            <blockquote>
                
            </blockquote>
            <p id="postSingle">
                <%= post.text %>
            </p>
                    
          </div>
          <div class="social">
        <blockquote>
        </blockquote>
        <div id="compartilhe">
            <p><b>Compartilhar <%= post.title %></b></p>
        </div>  
            <div id="icons">
                <a href="" class="fa fa-facebook" id="facebook" ></a>
                <a class="twitterShare" href="http://twitter.com/share?text=<%= post.title %>&&url=http://audouxie.com/blog/<%= post.slug %>&&hashtags=<%= post.tags%>&&via=audouxie&&" ><span class="fa fa-twitter" id="twitter"></span></a>
                <a href="#" class="fa fa-tumblr" id="tumblr"></a>
            </div>
        <blockquote>
        </blockquote>
        </div>
          <div id="disqus_thread"></div>
<script>
var disqus_config = function () {
    this.page.url = "http://audoux.me/blog/<%= post.slug %>";
    this.page.identifier = "/blog/<%= post.slug %>";
};

(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//audoux-me.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
