
<div class="sobreMim">
	<div id="imgSobreMim"></div>

	<div class="box">
		<blockquote>
		</blockquote>
		<div id="textSobreMim">
			<p>
				 Olá :D Meu nome é Joana Audoux, tenho 20 anos e sou natural de Paraty/RJ. Embora nascida lá, moro em São Paulo aonde estudo Animação no Instituto Belas Artes de São Paulo. Tenho um carinho muito especial por ilustrações e animações infantis, tanto digital quanto em papel. Tenho alguns projetos feitos em volta desse tópico, além é claro, de outros assuntos e técnicas. Caso queira me <a href="/contato">contatar</a>, por favor, fique a vontade. 
			</p>
		</div>
	</div>
	<div id="social">
                <div id="icons">
                    <span><a href="http://twitter.com/audouxie" target="_blank" class="fa fa-twitter" id="twitter"></a></span>
                    <span><a href="https://www.facebook.com/profile.php?id=100010926258782" target="_blank" class="fa fa-facebook" id="facebook"></a></span>
                    <span><a href="#" class="fa fa-tumblr" target="_blank"  id="tumblr"></a></span>
                    <span><a href="http://instagram.com/artaudoux" target="_blank" class="fa fa-instagram" id="instagram"></a></span>
                </div>
    </div>
</div>