<% if(user) { %> 
<aside class="menu">
  <p class="menu-label">
    Portfolio
  </p>
  <ul class="menu-list">
    <li><a href="/portfolio/create">Criar Portfolio Post</a></li>
    <li><a href="/admin/portfolio">Ver todos</a></li>
  </ul>
   <p class="menu-label">
    Blog Posts
  </p>
  <ul class="menu-list">
    <li><a href="/blog/create">Criar Blog Post</a></li>
    <li><a href="/admin/blog">Ver todos</a></li>
  </ul>
  <p class="menu-label">
    Configurações
  </p>
  <ul class="menu-list">
    <li><a href="/admin/users">Usuários</a></li>
  </ul>
</aside>
<% } else { %>
<div style="margin: 0 auto; text-align: center; height: 20px; width: 300px; margin-top: 50px; display: block;">
<h1>Você não está logado! Por favor, <a href="/admin/login">Entre</a></h1>
</div>
<% } %>