<% if(user) { %> 
<div class="adminBlog">
	<a href="/admin">Voltar para o Painel</a>
	<table class="table">
	<thead>
	 <tr>
	 	<th>Título</th>
	 	<th>Criado</th>
		<% for (var post of posts) { %>
		<tbody>
			<tr>
				<th><%= post.title %></th>
				<th><%= post.timeDate %></th>
				<th><a href="/blog/<%= post.slug %>">Ver Post</a></th>
				<th><a href="/blog/<%= post.slug %>/edit">Editar</a></th>
				<th><a href="/blog/<%= post.slug %>/delete" alt="Excluir Post">Excluir</a></th>
			</tr>
		</tbody>
				
		<% } %>
		</tr>
	</thead>
	</table>
	 <div>
        <nav class="pagination">
            <ul id="paginaAtual">
              <% for (var i = 1; i <= totalPaginas; i++) { %>
                <% if ( paginaAtual == i) { %>
                    <% if (totalPaginas != 1) { %>
                  <li><a id="page" class="button is-disabled" href="/admin/blog?page=<%= i %>"><%= i %></a></li>
                  <% } %>
                <% } else { %>
                  <li><a id="page" href="/admin/blog?page=<%= i %>"><%= i %></a></li>
                <% } %>
              <% } %>
            </ul>
          </nav>
      </div>
</div>
<% } else { %>
<div style="margin: 0 auto; text-align: center; height: 20px; width: 300px; margin-top: 50px; display: block;">
<h1>Você não está logado! Por favor, <a href="/admin/login">Entre</a></h1>
</div>
<% } %>