<% if(user) { %> 
<a href="/admin">Voltar para o Painel</a>
<div class="adminUsers">
	
</div>
<% } else { %>
<div style="margin: 0 auto; text-align: center; height: 20px; width: 300px; margin-top: 50px; display: block;">
<h1>Você não está logado! Por favor, <a href="/admin/login">Entre</a></h1>
</div>
<% } %>